<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content(Links.Content.Site_css)" rel="stylesheet" type="text/css" />
    <script src="@Url.Content(Links.Scripts.jquery_1_5_1_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(Links.Scripts.modernizr_1_7_min_js)" type="text/javascript"></script>
    <style type="text/css">.about-overview { }</style>
</head>
<body>
    <div id="container">
        <header class="header">
            <div class="about-overview">
                
                <div id="laptop-coffe">
                    <img src="@Links.Content.images.laptop_coffe_gif" title="Chasing Perfection"></img>    
                </div>
                <div class="quotation">
                    Try not to become a man of success, but rather try to become a man of value
                    <div class="quotation-author">
                        Alber Einstein
                    </div>
                </div>
            </div>
            <div class="logo-overview">
                <img id="logo-image" src="@Links.Content.images.chasing_perfection_logo_png" title="Chasing Perfection"></img>
                <div id="logo-title">
                    <h2>Chasing Perfection</h2>
                </div>    
                <hr/>    
            </div>
            <div class="contact-overview">
                <p>
                    I'm not taking new projects. In Nov 2012 I joined an awesome development team at <a href="http://www.mediaingenuity.com"><strong>Media Ingenuity</strong></a>, where I now work full-time.
                    To keep with me, <a href="./">follow my blog</a>. You can always <a href="mailto:bartosz.wrobel@gorrion.pl">say hello by email</a>. 
                </p>
                <br/>
                <p class="gorrion-logo">
                    Meanwhile, I recommend this development company: 
                    <a href="http://www.gorrion.pl"><img src="@Links.Content.images.gorrion_logo_png" title="Gorrion"/></a>
                </p>
                
                
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("About", "Index", "Home")</li>
                    <li>@Html.ActionLink("Skills", "About", "Home")</li>
                    <li>@Html.ActionLink("Portfolio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Blog", "About", "Home")</li>
                    <li>@Html.ActionLink("Partners", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "About", "Home")</li>
                </ul>
            </nav>
            <hr/>
        </header>
        <section id="main">
            @RenderBody()
        </section>

        <footer class="footer clearfix">
            <p>
                

            </p>
        </footer>
    </div>

</body>
</html>
